@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Noto sans JP' , sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,h2,h3,p {
    margin: 0px;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text , #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125em;
    padding: .5em 1.25em;
    background-color: var(--clr-accent, blue);
    border-radius: .25em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover, .btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    /* شرح من اليسار القيمة الاصغر وبعدها في اليمين القيمة الاكبر و في الوسط ما بينهما لحجم الخط */
    font-size: clamp(3rem, calc(5vw + 1rem) , 5.4rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title {

}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
  }
  
  @supports (background-blend-mode: multiply) {
    .hero {
      background: url(image/shoe-3.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
