body,
html {

    margin: 0;
    height: 100vh; /* يجعل الصفحة ثابتة بطول الشاشة */
overflow: hidden; /* يمنع تمرير الصفحة بالكامل */
}

.container-fluid {
    width: 100%;
    /* يجعل الحاوية تأخذ عرض الصفحة بالكامل */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    /* يسمح للصف بأن يشغل المساحة المتبقية */
}

th,
td {
    text-align: center;
    /* توسيط النص أفقياً */
    vertical-align: middle;
    /* توسيط النص عمودياً */
}

.col-md-3 {
    padding: 15px;
    width: 15%;
}

.col-md-9 {
    padding: 15px;
    width: 85%;
    /* margin-right: auto; */
    margin-left: auto;
}

.button-container {
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    /* يجعل الأزرار تأخذ العرض الكامل */
    margin-bottom: 5px;
}

/* ترتيب الأزرار في صفوف */
.row-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.col-button {
    flex: 1;
    margin: 2px 4px;
}

/* زر العودة للصفحة الرئيسية */
.back-btn {
    width: 100%;
}

/* تحديد المسافة بين الجدول والأزرار */
.table-container {
    margin-bottom: 20px;
}

.table-container {
    max-height: 800px; /* تعديل الارتفاع حسب الحاجة */
    overflow-y: auto;
    border: 1px solid #ddd; /* إضافة حدود لتعزيز التصميم */
}

/* تثبيت الصف الأول (العناوين الرئيسية) */
table thead tr:first-child th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2; /* العناوين الرئيسية ستظل فوق أي محتوى */
    text-align: center;
}

/* تثبيت الصف الثاني (العناوين الفرعية) */
table thead tr:nth-child(2) th {
    position: sticky;
    top: 40px; /* تأكد من أنه لا يغطي الصف الأول */
    background-color: #fff;
    z-index: 1; /* العناوين الفرعية تحت العناوين الرئيسية */
    text-align: center;
}

/* إضافة ظل حول العناوين لتحسين الوضوح */
thead th {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* تمييز الصف المحدد */
table tbody tr.selected {
    background-color: #ddd480;
    /* border: 2px solid #007bff; */
}
