/* إضافة مسافة 10px عن حدود الصفحة */
.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.table-responsive {
    width: 100%;
}

.table {
    width: 100%;
}

.col-md-8 {
    width: 90%;
    /* جعل العمود الأيسر يأخذ 90% من العرض */
}

.col-md-4 {
    width: 10%;
    /* جعل العمود الأيمن يأخذ 10% من العرض */
    padding-left: 0;
    padding-right: 0;
}

.d-flex {
    justify-content: center;
}

.table-responsive {
    max-height: 600px;
    /* أو حسب الحجم الذي تود تحديده */
    overflow-y: auto;
    display: block;
}

/* تغيير لون الصف عند تحديده */
.selected {
    background-color: #f8d7da !important;
    /* لون مختلف */
    color: black;
    /* font-weight: bold; */
}